[flake8]
extend-ignore = E111, E501, E303, F401, E203, E701, E721
per-file-ignores =
    __init__.py: F401
max-line-length = 120
filename = *.py
exclude =
    .git/,
    __pycache__/,
    conf*,
    old/,
    build/,
    venv/,
    env/,
    .venv/,
    tests/,
    main.py,
    logs.py,
    __tests__/
